<section class="sec04">
    <h3>
        예일안과에서 <span>Smile</span> 지을 수 있는 이유! <br/>
        다름아닌 <em>“믿음”</em> 이 있기 때문입니다.
    </h3>
    <ul>
        <li>
            <dl>
                <dt>Check 01</dt>
                <dd>
                    투명유리 수술실로 환자분들에게<br/>
                    믿음을 줄 수 있는 수술합니다
                </dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>
                    Check 02
                </dt>
                <dd>
                    대학병원급 첨단 장비 사용으로<br/>
                    검사와 수술에 대한 신뢰를 드립니다.
                </dd>
            </dl>
        </li>
    </ul>
</section>