<section class="sec03">
    <div class="wrapper" max="1600">
        <div class="tbx">
            <h3>라섹&라식 <span></span></h3>
            <h3>그리고 스마일라식</h3>
            <h3>수술 과정의 차이는?</h3>
        </div>
        <ul>
            <li>
                <div class="tbx">
                    <h3>라섹&라식 <span></span></h3>
                    <h3>그리고 스마일라식</h3>
                    <h3>수술 과정의 차이는?</h3>
                </div>
            </li>
            <li></li>
            <li></li>
        </ul>
        <div class="page">
            <p class="act"><span>01</span> LASEK</p>
            <p><span>02</span> LASIK</p>
            <p><span>03</span> SMILE LASIK</p>
        </div>
    </div>
</section>