<section class="sec05">
    
    <div class="img">
        <img src="/asset/img/main/zeiss.png" alt="">
    </div>

    <h3>ZEISS <span>VisuMax</span></h3>
    
    <div class="sticky">
        <dl>
            <dt>ZEISS <span>VisuMax</span></dt>
            <dd>
                스마일 라식을 개발한 독일 칼자이스사의 레이저 장비를<br/>
                창원 예일안과에서 경험하다.
            </dd>
        </dl>

        <div class="img">
            <img src="/asset/img/main/zeiss.png" alt="">
        </div>

        <ul>
            <li>
                <div class="q">
                    <span>Q.</span>
                    <p>스마일라식! 스마트라식, 클리어라식과 다른가요?</p>
                </div>
                <div class="a">
                    <span>A.</span>
                    <p>
                        세 가지 시력 교정술 모두 유사한 수술 방식을 적용했으나 사용되는 장비가 다릅니다.<br/>
                        스마일 라식 장비인 자이스 비쥬맥스는 175년 역사를 가진 독일 칼자이스사에서 개발한 레이저 장비로 국내에<br/>
                        도입된 지 10년 이상 되었으며 수많은 임상 경험과 데이터를 쌓아 안전성이 검증되었습니다.  
                    </p>
                </div>
            </li>
            <li>
                <div class="q">
                    <span>Q.</span>
                    <p>스마일라식! 스마트라식, 클리어라식과 다른가요?</p>
                </div>
                <div class="a">
                    <span>A.</span>
                    <p>
                        세 가지 시력 교정술 모두 유사한 수술 방식을 적용했으나 사용되는 장비가 다릅니다.<br/>
                        스마일 라식 장비인 자이스 비쥬맥스는 175년 역사를 가진 독일 칼자이스사에서 개발한 레이저 장비로 국내에<br/>
                        도입된 지 10년 이상 되었으며 수많은 임상 경험과 데이터를 쌓아 안전성이 검증되었습니다.  
                    </p>
                </div>
            </li>
            <li>
                <div class="q">
                    <span>Q.</span>
                    <p>스마일라식! 스마트라식, 클리어라식과 다른가요?</p>
                </div>
                <div class="a">
                    <span>A.</span>
                    <p>
                        세 가지 시력 교정술 모두 유사한 수술 방식을 적용했으나 사용되는 장비가 다릅니다.<br/>
                        스마일 라식 장비인 자이스 비쥬맥스는 175년 역사를 가진 독일 칼자이스사에서 개발한 레이저 장비로 국내에<br/>
                        도입된 지 10년 이상 되었으며 수많은 임상 경험과 데이터를 쌓아 안전성이 검증되었습니다.  
                    </p>
                </div>
            </li>
        </ul>
        
        <a href="">View More</a>
        
    </div>

</section>
