<div class="smile_section01">

    <div class="sc01_box">
        <dl class="tp">
            <dt>부작용과 후유증은 줄이고 삶의 질을 높이는</dt>
            <dd>
                더 정교해진 시력 교정,<br/><span>자이스 스마일 라식</span>
            </dd>
        </dl>
    
        <div class="img"></div>
    
        <p class="p">
            스마일 라식은 라식과 라섹의 장점을 결합한 시력 교정술로<br/>
            각막 신경 손상을 최소화해 통증이 적으며 수술 다음날부터<br/>
            일상생활이 가능할 정도로 빠른 회복을 자랑합니다.
            <span>
                스마일 라식은 라식과 라섹의 장점을 결합한 시력 교정술로<br/>
                각막 신경 손상을 최소화해 통증이 적으며 수술 다음날부터<br/>
                일상생활이 가능할 정도로 빠른 회복을 자랑합니다.
            </span>
        </p>
    
        <div class="iframe">
            <p class="left">smile lasik</p>
                <iframe src="https://www.youtube.com/embed/KLuTLF3x9sA?si=qxmsW6fM4IEr9MjX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p class="bottom">equipment</p>
        </div>
    
        <h4 class="h4-bottom">ZEISS <span>Smile Lasik</span></h4>
    </div>
    
</div>