<section class="sec01">
    <div class="rel">
        <h3>Yeil <span>Eye Clinic</span></h3>
        <div class="img">
            <h3>Yeil <span>Eye Clinic</span></h3>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div style="background-image: url(/asset/img/main/sec01_01.jpg);">
                            <div class="tbx">
                                <div class="page">
                                    <button>01</button>
                                    <button>02</button>
                                    <button>03</button>
                                    <button>04</button>
                                </div>
                                <dl>
                                    <dt>
                                        25년간 창원지역<br/>눈 건강을 지킨 터줏대감
                                    </dt>
                                    <dd>
                                        세심한 보살핌으로 믿음 가는 진료를 시행하겠습니다.
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div style="background-image: url(/asset/img/main/sec01_01.jpg);">
                            <div class="tbx">
                                <div class="page">
                                    <button>01</button>
                                    <button>02</button>
                                    <button>03</button>
                                    <button>04</button>
                                </div>
                                <dl>
                                    <dt>
                                        25년간 창원지역<br/>눈 건강을 지킨 터줏대감
                                    </dt>
                                    <dd>
                                        세심한 보살핌으로 믿음 가는 진료를 시행하겠습니다.
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div style="background-image: url(/asset/img/main/sec01_01.jpg);">
                            <div class="tbx">
                                <div class="page">
                                    <button>01</button>
                                    <button>02</button>
                                    <button>03</button>
                                    <button>04</button>
                                </div>
                                <dl>
                                    <dt>
                                        25년간 창원지역<br/>눈 건강을 지킨 터줏대감
                                    </dt>
                                    <dd>
                                        세심한 보살핌으로 믿음 가는 진료를 시행하겠습니다.
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    new Swiper('.sec01 .swiper',{
        
    });
</script>