<section class="sec02">
    <div class="wrapper" max="1440">
        <h3 class="h3">
            <p>더 빠르고 부드러운 시력 교정술,<br/><span>자이스 스마일라식</span></p>
        </h3>
        <p class="tbx">
            아름다운 눈, 소중한 눈, 눈의 건강을 지키기 위해 끊임없이 노력하는 예일안과는<br/>
            안전한 시력 교정을 위해 스마일 수술을 개발한 자이스 장비를 도입했습니다. <br/>
            본원은 회복과 시력의 질 향상을 위해 숙련된 의료진이 검사부터, 수술, 사후 관리까지 <br/>
            <span>1:1 맞춤형으로 커스터마이징 스마일 라식을 추구</span>합니다. 
        </p>
    </div>
    
    <div class="wallpaper"></div>

    <div class="area">
        <dl>
            <dt>사용면적</dt>
            <dd>1,366.29 <span>m2</span></dd>
        </dl>
        <dl>
            <dt>건물 층수</dt>
            <dd>B1~F4 <span>Floor</span></dd>
        </dl>
        <dl>
            <dt>개원 년도</dt>
            <dd><span>Since</span> 2000</dd>
        </dl>
        <dl>
            <dt>의료진 수</dt>
            <dd>27 People</dd>
        </dl>
    </div>

    <div class="more-box">
        <div class="more">
            <div>
                <dl>
                    <dt>SMILE LASIK</dt>
                    <dd>스마일라식</dd>
                </dl>
            </div>
            <div>
                <dl>
                    <dt>Presbyopia & Cataract</dt>
                    <dd>노안·백내장</dd>
                </dl>
            </div>
        </div>
        <p>원하는 분야를 선택하세요. 해당 시술 내용을 확인할 수 있습니다.</p>
    </div>

</section>