<section class="sec01">
    <div class="rel">
        <h3>Yeil <span>Eye Clinic</span></h3>
        <div class="img">
            <h3>Yeil <span>Eye Clinic</span></h3>
            <div class="swiper">
                
                <div class="swiper-wrapper">
                    <div 
                        class="swiper-slide"
                        data-dt="25년간 창원지역\n눈 건강을 지킨 터줏대감"
                        data-dd="세심한 보살핌으로 믿음 가는 진료를 시행하겠습니다."
                    >
                        <div style="background-image: url(/asset/img/main/sec01_01.jpg);"></div>
                    </div>
                    <div 
                        class="swiper-slide"
                        data-dt="25년간 축적한 경험을 바탕으로 \n특화된 맞춤형 자료 제공"
                        data-dd="환자를 가족처럼 생각하는 평생 주치의가 되겠습니다."
                    >
                        <div style="background-image: url(/asset/img/main/sec01_02.jpg);"></div>
                    </div>
                    <div 
                        class="swiper-slide"
                        data-dt="환자들이 믿고 의지할 수 있는 \n든든한 건강 파트너"
                        data-dd="상담부터 수술 후 회복까지 올인원 책임 시스템을 운영합니다."
                    >
                        <div style="background-image: url(/asset/img/main/sec01_03.jpg);"></div>
                    </div>
                    <div 
                        class="swiper-slide"
                        data-dt="Since 2000, 지역민들을 위한 \n한결같은 정성과 헌신으로"
                        data-dd="최상의 진료와 잔심을 담은 환자 중심의 병원입니다."
                    >
                        <div style="background-image: url(/asset/img/main/sec01_04.jpg);"></div>
                    </div>
                </div>

                <div class="tbx">
                    <div class="page"></div>
                    <dl>
                        <dt>
                            25년간 창원지역<br/>눈 건강을 지킨 터줏대감
                        </dt>
                        <dd>
                            세심한 보살핌으로 믿음 가는 진료를 시행하겠습니다.
                        </dd>
                    </dl>
                </div>

            </div>
        </div>
    </div>
</section>