<section class="sec01">
    <div class="rel">
        <h3>Yeil <span>Eye Clinic</span></h3>
        <div class="img">
            <h3>Yeil <span>Eye Clinic</span></h3>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div style="background-image: url(/asset/img/main/sec01_01.jpg);">
                            <div class="tbx">
                                <div class="page"></div>
                                <dl>
                                    <dt>
                                        25년간 창원지역<br/>눈 건강을 지킨 터줏대감
                                    </dt>
                                    <dd>
                                        세심한 보살핌으로 믿음 가는 진료를 시행하겠습니다.
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div style="background-image: url(/asset/img/main/sec01_01.jpg);">
                            <div class="tbx">
                                <div class="page"></div>
                                <dl>
                                    <dt>
                                        25년간 창원지역<br/>눈 건강을 지킨 터줏대감2
                                    </dt>
                                    <dd>
                                        세심한 보살핌으로 믿음 가는 진료를 시행하겠습니다.
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div style="background-image: url(/asset/img/main/sec01_01.jpg);">
                            <div class="tbx">
                                <div class="page"></div>
                                <dl>
                                    <dt>
                                        25년간 창원지역<br/>눈 건강을 지킨 터줏대감3
                                    </dt>
                                    <dd>
                                        세심한 보살핌으로 믿음 가는 진료를 시행하겠습니다.
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div style="background-image: url(/asset/img/main/sec01_01.jpg);">
                            <div class="tbx">
                                <div class="page"></div>
                                <dl>
                                    <dt>
                                        25년간 창원지역<br/>눈 건강을 지킨 터줏대감4
                                    </dt>
                                    <dd>
                                        세심한 보살핌으로 믿음 가는 진료를 시행하겠습니다.
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $('.sec01 .swiper .page').empty();

    const slide = new Swiper('.sec01 .swiper',{
        effect : "fade",
        loop : true,
        on : {
            init : (swiper)=>{
                setTimeout(()=>{
                    $(`.sec01 .swiper-slide > div .tbx .page button`).removeClass('active');
                    $(`.sec01 .swiper-slide > div .tbx .page button:nth-of-type(1)`).addClass('active');
                },500);
            },
            slideChange : (swiper)=>{
                const {realIndex} = swiper;
                $(`.sec01 .swiper-slide > div .tbx .page button`).removeClass('active');
                $(`.sec01 .swiper-slide > div .tbx .page button:nth-of-type(${realIndex+1})`).addClass('active');
            }
        }
    });

    const slideHanlder = (index)=>{
        slide.slideTo(index, 600);
    }

    for(let i = 0; i < slide.slides.length; i++){
        $('.sec01 .swiper .page').append(`<button onClick="slideHanlder(${i})"}>${(i+1).toString().padStart(2,'0')}</button>`);
    }


</script>