<footer class="_footer">
    <div class="wrapper" max="1440">
        <div class="lt">
            <div class="logo">
                <img src="/asset/img/footer/logo.png" alt="">
            </div>
            <nav>
                <a href="">개인정보처리방침</a>
                <a href="">이용약관</a>
                <a href="">비급여진료비</a>
                <a href="">오시는 길</a>
            </nav>
            <address class="address">
                <div class="col">
                    <div>
                        <span>병원명</span>
                        <p>예일안과의원</p>
                    </div>
                    <div>
                        <span>대표자</span>
                        <p>심형석</p>
                    </div>
                    <div>
                        <span>사업자등록번호</span>
                        <p>608-90-54198</p>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <span>주소</span>
                        <p>경남 창원 마산회원구 3·15대로 659<br/> (석전동 244-4)</p>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <span>TEL</span>
                        <p>055-296-6111</p>
                    </div>
                    <div>
                        <span>FAX</span>
                        <p>055-299-6127</p>
                    </div>
                </div>
            </address>
            
            <p class="copy">ⓒ YEIL EYE CLINIC. All rights reserved.</p>
        </div>
        <div class="rt">
            <div class="sns">
                <a href="">
                    <img src="/asset/img/footer/blog.png" alt="">
                </a>
                <a href="">
                    <img src="/asset/img/footer/youtube.png" alt="">
                </a>
            </div>
            <dl class="tel">
                <dt>상담전화</dt>
                <dd><a href="tel:055-296-6111">055-296-6111</a></dd>
            </dl>
        </div>
    </div>
</footer>