<header class="_header">
    <div class="wrapper">
        <div class="logo">
            <a href="/"><img src="/asset/img/logo.png" alt="로고"></a>
        </div>
        <div class="depth">
            <a href="">병원소개</a>
            <a href="">시력교정치료</a>
            <a href="">노안 · 백내장치료</a>
            <a href="">망막 · 녹내장치료</a>
            <a href="">안질환치료</a>
            <a href="">소아안과 · 콘택트렌즈</a>
            <a href="">시력교정치료</a>
            <a href="">커뮤니티</a>
        </div>
        <div class="menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header>

<div class="headerNav">
    <div class="logo">
        <a href="/"><img src="/asset/img/logo.png" alt="로고"></a>
    </div>
    <div class="depth">
        <div>
            <a href="">Home</a>
        </div>
        <div>
            <a href="">예일안과 소개</a>
        </div>
        <div>
            <a href="">스마일라식</a>
        </div>
        <div>
            <a href="">노안 · 백내장</a>
        </div>
        <div>
            <a href="">의료진소개</a>
        </div>
        <div>
            <a href="">연혁</a>
        </div>
        <div>
            <a href="">Eye Talk</a>
        </div>
        <div>
            <a href="">Yeal Talk</a>
        </div>
        <div>
            <a href="">오시는길</a>
        </div>
        <div>
            <a href="">진료시간</a>
        </div>
        <div>
            <a href="">문의하기</a>
        </div>
    </div>
</div>