<header class="_header">
    <div class="wrapper">
        <div class="logo">
            <a href="/"><img src="/asset/img/logo.png" alt="로고"></a>
        </div>
        <div class="depth">
            <a href="">병원소개</a>
            <a href="">시력교정치료</a>
            <a href="">노안 · 백내장치료</a>
            <a href="">망막 · 녹내장치료</a>
            <a href="">안질환치료</a>
            <a href="">소아안과 · 콘택트렌즈</a>
            <a href="">시력교정치료</a>
            <a href="">커뮤니티</a>
        </div>
        <div class="menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header>

<script>

    let saveScroll = 0;

    $(window).scroll(function(){

        if(window.innerWidth >= 1025){

            if(saveScroll >= $(window).scrollTop()){
                $('._header .depth').show();
            }else{
                $('._header .depth').hide();
            }

            saveScroll = $(window).scrollTop();

        }

    }).scroll();

</script>

<div class="headerNav">
    <div class="logo">
        <a href="/"><img src="/asset/img/logo.png" alt="로고"></a>
    </div>
    <div class="depth">
        <div>
            <a href="">Home</a>
        </div>
        <div>
            <a href="">예일안과 소개</a>
        </div>
        <div>
            <a href="">스마일라식</a>
        </div>
        <div>
            <a href="">노안 · 백내장</a>
        </div>
        <div>
            <a href="">의료진소개</a>
        </div>
        <div>
            <a href="">연혁</a>
        </div>
        <div>
            <a href="">Eye Talk</a>
        </div>
        <div>
            <a href="">Yeil Talk</a>
        </div>
        <div>
            <a href="">오시는길</a>
        </div>
        <div>
            <a href="">진료시간</a>
        </div>
        <div>
            <a href="">문의하기</a>
        </div>
    </div>
</div>


<script>

    gsap.registerPlugin(ScrollToPlugin);

    /* $(window).click(function(e){

        if($(e.target).closest('.headerNav.active').length === 0 || !$(e.target).closest('.headerNav').hasClass('active')){
            $('.headerNav').removeClass('active');
        }

    }); */

    $('.headerNav').mouseleave(function(){
        if($(this).hasClass('active')){
            $('.headerNav').removeClass('active');
        }
    });

    const OPTION = {
        "Home" : "/",
        "예일안과 소개" : "/?page=sec02",
        "스마일라식" : "/smilelasik.php",
        "노안 · 백내장" : "/presbyopia.php",
        "의료진소개" : "/smilelasik.php?page=sec06",
        "연혁" : "/smilelasik.php?page=sec07",
        "Eye Talk" : "/smilelasik.php?page=sec08",
        "Yeal Talk" : "/smilelasik.php?page=sec09",
        "오시는길" : "/smilelasik.php?page=sec10",
        "진료시간" : "/smilelasik.php?page=sec11",
        "문의하기" : "/smilelasik.php?page=sec11&el=rt"
    }

    $('.headerNav .depth a').click(function(e){
        
        e.preventDefault();
        const text = $(this).text();
        window.location.href = OPTION[text];
        return false;

    });

    const urlObject = new URL(window.location.href);

    const queryString = urlObject.searchParams;

    window.addEventListener('load',function(){
        
        if(queryString.get('page') === null) return;

        if(queryString.get('page') == "sec11" && queryString.get('el') !== null){

            return gsap.to(window, { duration: 1, scrollTo: '._main .sec11 .rt' });

        }else{

            return gsap.to(window, { duration: 1, scrollTo: `._main .${queryString.get('page')}` });
        }

    });

</script>