<div class="presbyopia_section01">
    <div class="imbox">

        <div class="top">
            백내장 수술의 정밀도와 안정성을 높이는<br/><span>4가지 key point</span>
        </div>
        <div class="img">
            <h4 class="num">01</h4>
        </div>
        <p>
            24년 <em>오직 한자리</em>에서<br/>
            <span>여러분들의 <em>눈 건강 주치의</em></span>
        </p>
    </div>
    <div class="imbox">
        <div class="img">
            <h4 class="num">02</h4>
        </div>
        <p>
            <em>대학병원급</em> 첨단 장비로<br/>
            <em>안전하고 정확한</em> 검사 및 수술
        </p>
    </div>
</div>