<div class="presbyopia_section02">
    
    <div class="full">
        <div class="back"></div>
        <div class="wrapper" max="1440">
            <dl>
                <dt>Catalys <span>Laser</span></dt>
                <dd>
                    일반 초음파 백내장 수술보다 10배 이상 정확한<br/>
                    카탈리스 레이저 백내장 수술
                </dd>
            </dl>
        </div>
    </div>

    <div class="poa">
        <ul>
            <li>1.5초 스피드의 <span>완벽한 레이저 수정체낭 절개</span></li>
            <li>백내장 수술의 혁신! 레이저 <span>수정체 유화술</span></li>
            <li>최상의 시력을 위한 레이저 <span>난시교정 절개</span></li>
        </ul>
        <p>
            카탈리스 레이저 백내장은 실시간 3D OCT 자동 진단과 인공수정체 맞춤 레이저 절개가 가능한<br/>
            첨단 백내장 수술 장비로 환자별 맞춤 레이저 난시 교정, 안구 보호 기능으로<br/>
            환자 개개인의 눈 상태를 고려한 100% 맞춤형 백내장 수술입니다.
        </p>
    </div>

</div>