<section class="sec08">
    <div class="wrapper" max="1440">
        <div class="top">
            <dl>
                <dt>더 편리해진 눈 건강 정보 나눔</dt>
                <dd>알기 쉬운 <span>Eye Talk</span></dd>
            </dl>
            <a href="">View More</a>
        </div>
    </div>

    <div class="box">
        <div class="b-box">
            <h4>YEIL <span>Eye Clinic</span></h4>
            <div class="swiper b">
                <div class="swiper-wrapper">
                    <a href="" class="swiper-slide">
                        <div class="img">
                            <img src="/asset/img/main/eye_talk_01.jpg" alt="">
                        </div>
                        <p>각막두께 평균 시력교정술전 꼭 참고하기</p>
                    </a>
                    <a href="" class="swiper-slide">
                        <div class="img">
                            <img src="/asset/img/main/eye_talk_01.jpg" alt="">
                        </div>
                        <p>각막두께 평균 시력교정술전 꼭 참고하기2</p>
                    </a>
                    <a href="" class="swiper-slide">
                        <div class="img">
                            <img src="/asset/img/main/eye_talk_01.jpg" alt="">
                        </div>
                        <p>각막두께 평균 시력교정술전 꼭 참고하기3</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="s-box">
            <div class="swiper s">
                <div class="swiper-wrapper">
                    <a href="" class="swiper-slide">
                        <div class="img">
                            <img src="/asset/img/main/eye_talk_01.jpg" alt="">
                        </div>
                        <p>스마일라식 후 시력이 바로 좋아지나요?2</p>
                    </a>
                    <a href="" class="swiper-slide">
                        <div class="img">
                            <img src="/asset/img/main/eye_talk_01.jpg" alt="">
                        </div>
                        <p>스마일라식 후 시력이 바로 좋아지나요?3</p>
                    </a>
                    <a href="" class="swiper-slide">
                        <div class="img">
                            <img src="/asset/img/main/eye_talk_01.jpg" alt="">
                        </div>
                        <p>스마일라식 후 시력이 바로 좋아지나요?1</p>
                    </a>
                    <a href="" class="swiper-slide">
                        <div class="img">
                            <img src="/asset/img/main/eye_talk_01.jpg" alt="">
                        </div>
                        <p>스마일라식 후 시력이 바로 좋아지나요?2</p>
                    </a>
                </div>
            </div>
            <ul class="nav">
                <li class="prev"><i class="xi-arrow-left"></i></li>
                <li class="next"><i class="xi-arrow-right"></i></li>
            </ul>
        </div>
    </div>

</section>