<section class="sec06">
    <div class="warpbox">
        <div class="wrapper" max="1600">
            <div class="sbox">
                
                <div class="line-circle"></div>

                <h4 class="bt">DOCTOR</h4>
                
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/asset/img/main/shim01.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/asset/img/main/shim01.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/asset/img/main/shim01.png" alt="">
                        </div>
                    </div>
                </div>
                
                <p class="num">01</p>

            </div>
        </div>
        <ul class="paging">
            <li>01 과</li>
            <li>02 과</li>
            <li>03 과</li>
            <li>04 과</li>
        </ul>
        <div class="tbx">
            <dl>
                <dt>의학박사 / 대표원장 <span>심형석</span></dt>
                <dd>Shim Hyeongseok</dd>
            </dl>
            <p>
                아름다운 눈, 소중한 눈,<br/>
                눈의 건강을 지키는 일이 저희 예일안과의<br/>
                사훈이자 전직원의 사명입니다.
            </p>
        </div>
    </div>
</section>

<script>
    new Swiper('.sec06 .swiper',{
        effect: "flip",
        slideShadows : false
    });
</script>