<section class="sec07">

    <div class="flex">
        <dl>
            <dt>Yeil <span>History</span></dt>
            <dd>25년간 창원지역 눈 건강을 지킨 예일안과 연혁입니다.</dd>
        </dl>
        <div class="scroll">
            <div class="ri">
                <span>scroll</span>
                <div class="right">
                    <i class="xi-angle-right"></i>
                    <i class="xi-angle-right"></i>
                    <i class="xi-angle-right"></i>
                </div>
            </div>
            <div class="bar">
                <div></div>
            </div>
        </div>
    </div>

    <div class="history">
    
        <div class="h-flex">

            <div class="line">
                <svg x="0px" y="0px" viewBox="0 0 8192.03 137.37" style="enable-background:new 0 0 8192.03 137.37;" xml:space="preserve">
                <path style="fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:6.4034;enable-background:new    ;" d="M0.22,136.62
                    c0,0,432.43-135.87,1157.11-135.87c482.13,0,832.77,135.87,1095.75,135.87S2901.76,0.75,3243.64,0.75s683.75,135.87,973.02,135.87
                    c289.28,0,631.15-135.87,1038.77-135.87c407.62,0,587.32,135.87,885.36,135.87c298.04,0,556.64-135.87,894.13-135.87
                    c337.49,0,578.55,135.87,1157.11,135.87"/>
                </svg>
                <div></div>
            </div>

            <div class="his active">
                <div class="cir"></div>
                <dl>
                    <dt>2000.04.19</dt>
                    <dd>
                        <p>예일안과 개원</p>
                    </dd>
                </dl>
            </div>
            <div class="his">
                <div class="cir"></div>
                <dl>
                    <dt>2000~2004</dt>
                    <dd>
                        <p>OBR SCAN 최초도입</p>
                        <p>Bausch & Lomb Lasik 장비도입</p>
                        <p>Technolas 217 최초도입</p>
                        <p>안과학 박사학위 취득</p>
                        <p>MBC 이하 TV 건강 출연</p>
                        <p>대학병원 급 첨단레이저 및 검사 장비 구축</p>
                        <p>MBC 건강 의료자문의원 활동</p>
                    </dd>
                </dl>
            </div>
            <div class="his">
                <div class="cir"></div>
                <dl>
                    <dt>2007</dt>
                    <dd>
                        <p>생방송 건강 클리닉 출연</p>
                    </dd>
                </dl>
            </div>
            <div class="his">
                <div class="cir"></div>
                <dl>
                    <dt>2009</dt>
                    <dd>
                        <p>연탄배달 봉사활동</p>
                    </dd>
                </dl>
            </div>
            <div class="his">
                <div class="cir"></div>
                <dl>
                    <dt>2010</dt>
                    <dd>
                        <p>알레그레토 도입</p>
                        <p>큐 웨이브 도입</p>
                        <p>백내장 10,000case 달성</p>
                    </dd>
                </dl>
            </div>
            <div class="his">
                <div class="cir"></div>
                <dl>
                    <dt>2011</dt>
                    <dd>
                        <p>다빈치 라식 도입</p>
                    </dd>
                </dl>
            </div>
            <div class="his">
                <div class="cir"></div>
                <dl>
                    <dt>2012</dt>
                    <dd>
                        <p>인피니티 장비 도입</p>
                    </dd>
                </dl>
            </div>
            <div class="his">
                <div class="cir"></div>
                <dl>
                    <dt>2013</dt>
                    <dd>
                        <p>예일안과 신축 설립</p>
                    </dd>
                </dl>
            </div>
            <div class="his">
                <div class="cir"></div>
                <dl>
                    <dt>2014</dt>
                    <dd>
                        <p>모범 납세자 국세청장 표창장</p>
                    </dd>
                </dl>
            </div>
            <div class="his">
                <div class="cir"></div>
                <dl>
                    <dt>2015</dt>
                    <dd>
                        <p>Zeiss Lumera700 현미경 도입</p>
                        <p>Zeiss Calisto 난시교정 네비게이션 장비 도입</p>
                    </dd>
                </dl>
            </div>
            <div class="his">
                <div class="cir"></div>
                <dl>
                    <dt>2016</dt>
                    <dd>
                        <p>Zeiss 스마일 장비 도입</p>
                    </dd>
                </dl>
            </div>
            <div class="his">
                <div class="cir"></div>
                <dl>
                    <dt>2017</dt>
                    <dd>
                        <p>모범납세자 대통령 표창장</p>
                        <p>농협 행복버스 의료지원</p>
                        <p>초음파백내장 Centurion 장비 도입</p>
                        <p>백내장 20,000case 달성</p>
                        <p>시력교정술 4,000case 달성</p>
                    </dd>
                </dl>
            </div>
            <div class="his">
                <div class="cir"></div>
                <dl>
                    <dt>2018~2024</dt>
                    <dd>
                        <p>마산회원구 라면 00박스 지원</p>
                        <p>김민우원장님 MBC건강클리닉 출연</p>
                        <p>IPL치료장비 벨로체 도입</p>
                        <p>마산 시니어클럽 컵홀더 10000개 기부</p>
                        <p>석전초등학교 47회,48회 졸업식 장학금기부금전달</p>
                        <p>스마일포럼2022 참석 (스마일 국내 100만안 수술 달성)</p>
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</section>