<section class="sec07">
    <div class="flex">
        <dl>
            <dt>Yeil <span>History</span></dt>
            <dd>25년간 창원지역 눈 건강을 지킨 예일안과 연혁입니다.</dd>
        </dl>
        <div class="scroll">
            <div class="ri">
                <span>scroll</span>
                <div class="right">
                    <i class="xi-angle-right"></i>
                    <i class="xi-angle-right"></i>
                    <i class="xi-angle-right"></i>
                </div>
            </div>
            <div class="bar">
                <div></div>
            </div>
        </div>
    </div>
    <div class="history">
        <svg version="1.1" id="&#xB808;&#xC774;&#xC5B4;_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 12793.156 214.188" style="enable-background:new 0 0 12793.156 214.188;" xml:space="preserve">
        <path style="opacity:0.5;fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;" d="M0.3,213.188
            C0.3,213.188,675.612,1,1807.316,1c752.923,0,1300.504,212.188,1711.19,212.188S4531.531,1,5065.422,1
            s1067.783,212.188,1519.537,212.188C7036.713,213.188,7570.604,1,8207.167,1s917.198,212.188,1382.642,212.188
            S10459.093,1,10986.14,1s903.508,212.188,1807.017,212.188"/>
        </svg>
        <div class="h-flex">
            <dl>
                <dt>2000.04.19</dt>
                <dd>
                    <p>예일안과 개원</p>
                    <p>예일안과 개원</p>
                    <p>예일안과 개원</p>
                </dd>
            </dl>
            <dl>
                <dt>2000.04.19</dt>
                <dd>
                    <p>예일안과 개원</p>
                </dd>
            </dl>
            <dl>
                <dt>2000.04.19</dt>
                <dd>
                    <p>예일안과 개원</p>
                </dd>
            </dl>
            <dl>
                <dt>2000.04.19</dt>
                <dd>
                    <p>예일안과 개원</p>
                </dd>
            </dl>
            <dl>
                <dt>2000.04.19</dt>
                <dd>
                    <p>예일안과 개원</p>
                </dd>
            </dl>
            <dl>
                <dt>2000.04.19</dt>
                <dd>
                    <p>예일안과 개원</p>
                </dd>
            </dl>
        </div>
    </div>
</section>