<section class="sec09">
    <div class="wrapper" max="1440">
        <div class="lf">
            <dl>
                <dt>더 새로운 예일안과 소식 나눔</dt>
                <dd>보기 쉬운 <span>Yeil Talk</span></dd>
            </dl>
            <a href="">View More</a>
        </div>
        <div class="rf">
            <a href="">
                <dl class="date">
                    <dt>05</dt>
                    <dd>2024.04</dd>
                </dl>
                <dl class="tbx">
                    <dt>4월 진료안내입니다! 참고바랍니다.</dt>
                    <dd>예일안과는 4/10(수) 제22대 국회의원선거로 인한 휴진입니다. 미리 일정을 확인하셔서 진료 및 수술에
                        불편이 없으시길 바랍니다.</dd>
                </dl>
            </a>
            <a href="">
                <dl class="date">
                    <dt>14</dt>
                    <dd>2024.02</dd>
                </dl>
                <dl class="tbx">
                    <dt>[방송안내] MBC건강클리닉 안과 5과 김민우 원장님 출연합니다!</dt>
                    <dd>김민우 원장님이 MBC 경남라디오 ‘건강클리닉’에 출연합니다.
                        주제는 < 노년기에 흔한 안질환> 으로 2024년 02월 16일 금요일 18시 10분에 시작하니 많은 청취......</dd>
                </dl>
            </a>
            <a href="">
                <dl class="date">
                    <dt>15</dt>
                    <dd>2023.12</dd>
                </dl>
                <dl class="tbx">
                    <dt>예일안과 IPL 벨로체 장비 도입!</dt>
                    <dd>예일안과에 ‘SUPER VELOCE 4800’이 도입되었습니다! SUPER VELOCE 4800은 눈 주변 혈류 순환을
                        개선함으로써 눈물 유지에 필요한 기름 분비를 촉진할 뿐만 아니라 비정상적으로 획장된 혈관을 축소하......</dd>
                </dl>
            </a>
        </div>
    </div>
</section>


<script>

    gsap.timeline({
        scrollTrigger : {
            trigger : "._main .sec09 .wrapper .lf",
            start : "top bottom-=10%"
        }
    })
    .from('._main .sec09 .lf dl dt',{
        y : 50,
        opacity : 0
    })
    .from('._main .sec09 .lf dl dd',{
        y : 50,
        opacity : 0
    })
    .from('._main .sec09 .lf a',{
        x : -50,
        opacity : 0
    });

    gsap.from('._main .sec09 .rf',{
        y : 50,
        opacity : 0,
        scrollTrigger : {
            trigger : "._main .sec09 .rf",
            start : "top bottom-=10%"
        }
    });

</script>